.footer_body{
    background-color: gray;
}
/* .features_body{
    background-color:darkslategray;
} */
.banner_body{
    background-color:white;
}
.navbar_body{
    background-color: aliceblue;
}
@keyframes example {
    from{margin-top: 200px;}
    to{margin-top: 10px;}
    
}
.banner_body{
    animation: example 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.progress_body{
    background-color: gray;
}
.mission_body{
    animation: example 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}